<!DOCTYPE html>
<html>
  <head>
    <title>Exchange</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

<% if I18n.available_locales.length > 1 %>
  <ul class="language-selector">
    <% I18n.available_locales.each do |locale| %>
      <li>
        <%= link_to "#{locale}", url_for(locale: locale), class: (I18n.locale == locale ? 'selected' : '') %>
      </li>
    <% end %>
  </ul>
<% end %>


  </body>
</html>
